<h1>Welcome to the <%= title %></h1>
<% if(typeof errors != "undefined"){ %>
	<div class="alert alert-danger" role="alert">
		<ul>
			<% errors.forEach(error=>{ %>
				<li><%= error.msg %>
			<% }); %>
		</ul>
	</div>
<% } %>
<form method="post" action="/contact/update">
  <input type="hidden" name="oldName" value="<%= contact.oldName || contact.name %>">
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" placeholder="Enter Name" value="<%= contact.name %>" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPhone">Phone</label>
    <input type="text" name="phone" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="Enter Phone" value="<%= contact.phone %>" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email" value="<%= contact.email %>" required>
  </div>
    <!--<div class="form-group">
    <label for="exampleFormControlTextarea">Message</label>
    <textarea name="message" class="form-control" id="exampleFormControlTextarea" rows="3" required></textarea>
  </div>-->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
